<main class="page__main">
  <form class="js-form">
    <input
      type="text"
      name="search-field"
      id="search-field"
      class="js-input"
      placeholder="Busca aqui series"
    />
    <input type="button" value="Search" class="js-button" />
    <ul class="js-show-container">
      <!-- Código de JS listado de resultados de búsqueda-->
      <!--  <li>
        <img c src="" alt="poster of series" />
        <h2></h2>
      </li> -->
      <!-- Fin código de JS -->
    </ul>
  </form>
</main>
