<main class="page__main">
  <div class="main__favorites">
    <h3 class="main__favorites--title">Mis series favoritas:</h3>
    <ul class="js-favorite-container favorites"></ul>
    <button class="favorites__button js-reset-button">Borrar</button>
  </div>
  <form class="js-form form">
    <input
      type="text"
      name="search-field"
      id="search-field"
      class="js-input form__input"
      placeholder="Busca aqui series"
    />
    <input type="button" value="Search" class="js-button form__button" />
    <ul class="js-show-container container"></ul>
  </form>
</main>
