body {
  padding: 2rem;
  height: 100vh;
  background-color: $color-bg;
  font-family: $font-main;
}

.list__element {
  list-style: none;
}

.list__element--image {
  width: 300px;
  height: 300px;
}
